# Gradle #
##########
.gradle

# IntelliJ #
############
*.iml
*.ipr
*.iws
/.idea
*/.idea

# Build output #
################
/target
*/target
/build
*/build
/out
*/out
/classes
*/classes
/data
*/data
scripts/windows/out
scripts/windows/out/*
scripts/unix/out
scripts/unix/out/*

rebel.xml

# Ignore static html files #
############################
ld-core/src/main/resources/static/*
