<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container-fluid main" layout:fragment="content">
    <div class="row-fluid">
        <div class="span10 offset1">

            <h1 th:inline="text">Hello [[${ principal.userInfo.name }]]</h1>

            <div>
                <p>This page requires that the user be logged in with a valid account and the <code>ROLE_ADMIN</code>
                    Spring Security authority.
                    If you are reading this page, <span class="text-success">you are currently logged in as an administrator</span>.
                </p>

                <p>The authorization provider will assign your account a set of authorities depending on how it's
                    configured.
                    Your current login has the following Spring Security authorities:</p>

                <ul>
                    <li th:each="auth : ${principal.authorities}">
                        <code th:inline="text">[[${ auth }]]</code>
                    </li>
                </ul>

            </div>
            <div>
                <h3>Administrators</h3>

                <p>Logged in users are assigned the <code>ROLE_USER</code> authority by default, but the following users
                    (identified by issuer/subject pairs) will also be given <code>ROLE_ADMIN</code>:</p>

                <table class="table table-striped table-hover span4">
                    <tr>
                        <th>Issuer</th>
                        <th>Subject</th>
                    </tr>
                    <tr th:each="admin : ${admins}">
                        <td th:inline="text">[[${ admin.issuer }]]</td>
                        <td th:inline="text">[[${ admin.subject }]]</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>